body{
    text-align: center;
}
.btn{
    height:200px;
    width: 200px;
    border-radius: 15%;
    border: 7px solid black;
    margin: 2rem;
}
.btn_container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.gameflash{
    background-color: white;
}
.userflash{
    background-color: rgb(133, 213, 242);
}